<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Wave1</key>
	<array>
		<dict>
			<key>enemyType</key>
			<integer>0</integer>
			<key>spawnTime</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>enemyType</key>
			<integer>0</integer>
			<key>spawnTime</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Wave2</key>
	<array/>
</dict>
</plist>
